<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/search/twitter/timeline/{{handler}}/">Timeline</a>
                </li>
                <li>
                    <a href="/search/twitter/most-used-hashtags/{{handler}}/">Most used Hashtags</a>
                </li>
                <li>
                    <a href="/search/twitter/favourite-tweets/{{handler}}">Favourites...</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
